meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Entorno Químico
meta(meta name="description" content="El entorno químico permite al aprendiz entender la composición, estructura y propiedades de la materia, así como los cambios que ésta experimenta durante las reacciones químicas y su relación con la energía. Este entorno está presente en el mundo de la vida desde tiempos remotos, puesto que en la antigüedad se usaban pigmentos, elixires, esencias y extractos en la mayoría de las actividades cotidianas. En la actualidad, contribuye al mejoramiento de la calidad de vida y el bienestar general de la humanidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")