h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Denominar los aspectos físico-químicos y analíticos de las mezclas y sustancia teniendo en cuenta el entorno químico.