.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Acidez:
            | es la propiedad de tener sabor agrio que manifiestan ciertas sustancias, de reaccionar con metales activos como el magnesio (Mg) y el cinc o zinc (Zn), desprendiendo hidrógeno, además de cambiar el papel tornasol azul a rojo.
        p
            strong.mr-2 Ácido:
            | es aquella sustancia que dona un catión hidrógeno (H+) a otra sustancia llamada base. Puede existir en estado sólido, líquido o gas, dependiendo de la temperatura a la que se encuentre, ya sea en estado puro o en disolución.
        p
            strong.mr-2 Afinidad electrónica:
            | es lo contrario a energía de ionización ya que se trata de aquella energía que se libera cuando un átomo de un elemento en estado gaseoso gana un electrón y forma un anión con carga de 1-.
        p 
            strong.mr-2 Aleación:
            | se define como la mezcla de dos o más metales o de metales con no metales, de tal forma que la mezcla resultante presenta características metálicas diferentes a las propiedades del metal que le dan origen; comúnmente estas propiedades son mejoradas o potenciadas.
        p
            strong.mr-2 Átomo:
            | la mínima unidad material que representa las características de un elemento. Un elemento posee átomos iguales entre sí y diferentes a los de otro elemento. Está constituido por electrones, protones y neutrones.
        p
            strong.mr-2 Carga nuclear:
            | es distinta para cada uno de los elementos, ello da lugar a lo que se ha denominado como número atómico. Estudia las velocidades y los mecanismos de las reacciones químicas bajo los que ocurren los procesos químicos
        p
            strong.mr-2 Combustión:
            | es toda reacción química, relativamente rápida, de carácter notablemente exotérmico, que se desarrolle en fase gaseosa o heterogénea (líquido-gas, sólido-gas), sin exigir necesariamente la presencia de oxígeno, con o sin manifestación del tipo de llamas o de radiaciones visibles.
        p
            strong.mr-2 Ecuación química:
            | es la representación escrita, abreviada y simbólica de una reacción química; nos proporciona un medio para mostrar un cambio químico, los reactivos y los productos, su composición atómica y la relación molecular donde interviene.
        p
            strong.mr-2 Isótopo:
            | es un átomo que tiene el mismo número de protones (igual número atómico) pero distinto número de neutrones, por lo tanto, diferente número de masa, además ocupa el mismo lugar en la tabla periódica de los elementos.
        p
            strong.mr-2 Radical:
            | es una especie química caracterizada por poseer uno o más electrones desapareados que pueden formar enlaces químicos.