.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td González, R. & Bosque, P. (2014). Química. Grupo Editorial Patria. Unidad 3 y 4
                    td Link
                    td 
                        a(href="https://bit.ly/2zDBeBx", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Descargar
                tr
                    td Quiñoá, C., & Quiñoá, C. (2013). Cuestiones y ejercicios de química orgánica. Capítulo 2
                    td Link
                    td 
                        a(href="https://bit.ly/3ertwJM", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Descargar