include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Atkins P. (1992). Química general. Omega.", "")

        +referenciaItem("Brown L. (2014) Química: La Ciencia Central. Prentice Hall.", "")

        +referenciaItem("Chang R. (2003). Química. Ed. Mc Graw-Hill.", "")

        +referenciaItem("McMurry J. (2001). Química Orgánica. Ed. International Thomson Editores, S.A.", "")

        +referenciaItem("Osuna M. (2005). Química General. Ed. Alfaomega.", "")

        +referenciaItem("Rayner G. (2000). Química Inorgánica Descriptiva. Pearson Educación.", "")